.header__left {
  display: flex;
}

.header{
  position:sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid #04080b;
  padding-top: 10px;
  padding-bottom: 0.5px;
  width: 100%;
  z-index: 999;
}

.header__left > img {
  object-fit: contain;
  height: 37px;
  border-radius: 10%;
}

.header__search {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-left: 5px;
  border-radius: 5px;
  height: 22px;
  color: gray;
  background-color: #eef3f8;
}

.header__search > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header__right {
  display: flex;
}